* {
	padding: 0;
	margin: 0;
}

body {
	background:#e8e8e8;
}
.wrapper {

	/* Max Width - element uchun eng katta enini belgilash uchun ishlatiladi. Yoki shuncha bo'ladi yoki undan kichik bo'ladi degani */
	max-width: 842px;
	margin: 125px auto 105px auto;
	padding: 40px 0px 35px 0px;
}
.logo {
	color: #273d46;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Arial;
	text-align: center;
	letter-spacing: 2px;
	opacity: 0.6;
	margin-bottom: 27px;
	padding: 0 50px;
}

.title {
	color: #273d46;
	font-size: 36px;
	text-align: center;
	padding: 0 50px;
	margin-bottom: 70px;
}
.img {
	/* border: 10px solid #fff; */
	max-height: 560px;
	box-shadow: 0px 0px 15px rgba(15, 16, 16, 0.15);
	background: #fff;
	margin-bottom: 95px;
	position: relative;
	padding: 10px;
	
}
.img::after {
	content: '';
	background: url(../img/bg.png) 0 0 no-repeat;
	position: absolute;
	width: 1190px;
	height: 1064px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
.img img {
	width: 100%;
	height: 100%;
	font-size: 0;
	display: block;
	/* Object fit rasmni berilgan joyga har tomonlama to'liq siqdiradi. */
	object-fit: cover;
}
.text {
	color: #273d46;
	font-size: 24px;
	line-height: 40px;
	opacity: 0.8;
	padding: 0 44px;
	margin-bottom: 60px;
}
.list {

	/* list-style - ul tegining ro'yxat stilini o'zgartiradi  */
	list-style: none;
	padding: 0 44px;
}
.list li {
	font-family: Arial;
	font-size: 20px;
	margin-bottom: 15px;
}
.list li img, .list li span {
	vertical-align: middle;
}
.list li:first-child span {
	color: #273d46;
	text-shadow: 0px 0px 1px #000;
}
.list li:nth-child(2) span {
	color: #80b7b3;
}
.list li:nth-child(3) span {
	color: #273d46;
	font-weight: bold;
}
.list li:last-child span {
	/*  text-decoration: line-through; - matnning o'rtasidan chizadi*/
	text-decoration: line-through;
	color: #273d46;
	opacity: 0.3;
}

.link {
	width: 200px;
	background-color: #80b7b3;
	display: block;
	border-radius: 30px;
	text-align: center;
	padding: 11px 30px;
	box-shadow:0px 0px 6px #80b7b3;
	/* text-decoration: none; - matndan barcha dekoratsiyalarni olib tashlaydi */
	text-decoration: none;
	margin: 0 44px;
	margin-top: 60px;

	/*  box-sizing: border-box; - elementning o'lchamini unga berilgan border va paddinglarni berilgan qiymatning ichida bo'lishini taminlaydi.*/
	box-sizing: border-box;

}
.link span {
	word-spacing: 3px;
	padding-right: 10px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-family: Arial;

	/* vertical-align: - qator elementiga tegishli teglarni vertikal joylashuvini o'zgartiradi. */
	vertical-align: middle;
}
.link img {
	vertical-align: middle;
}

